main {
    padding: 0 24px;
}

.sessao_superior {
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.titulo p:first-child {
    font-family: Cousine;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--cor_3);
}

.titulo h1 {
    padding-top: 8px;
    font-family: Barlow Condensed;
    font-weight: 900;
    font-style: Black;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0px;
    color: var(--cor_7);
}

.titulo p:last-child {
    padding-top: 8px;
    font-family: Cousine;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--cor_6);
}

.filtro {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.pesquisa_filtro input {
    width: 384px;
    height: 42px;
    border-radius: 16px;
    border: 1px solid #2563EB26;
    background-color: var(--cor_2);
    font-family: Cousine;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    padding-left: 10px;
    color: var(--cor_7);
}

.pesquisa_filtro input::placeholder {
    font-family: Cousine;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    padding-left: 10px;
}

.botao_filtro {
    padding: 8px 14px;
    font-family: Cousine;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--cor_6);
    border-radius: 16px;
    background-color: var(--cor_2);
    border: 1px solid #2563EB26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: ease-in-out(0.7s);
}

.ativo {
    box-shadow: 0px 0px 12px 0px #2563EB59;
    background-color: var(--cor_3);
    color: var(--cor_5);
    animation: ease-in-out(0.7s);
}

.sessao_cards {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    height: 376px;
    background-color: var(--cor_2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.imagem_card {
    position: relative;
}

.imagem_card img {
    width: 100%;
    height: 192px;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 0.75;
}

.imagem_card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 192px;
    background: linear-gradient(0deg, #0D1322 0%, rgba(13, 19, 34, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}

.tag {
    z-index: 100;
    position: absolute;
    left: 12px;
    bottom: 11px;
    color: #FFB900;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    font-family: Cousine;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background-color: #FE9A001A;
    border-radius: 16px;
    border: 1px solid #FE9A0033
}

.tag svg {
    width: 7.9px;
    height: 7.9px;
}

.texto_card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.titulo_card h3 {
    font-family: Barlow Condensed;
    font-weight: 900;
    font-style: Black;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
    color: var(--cor_7);
    padding-bottom: 2px;
}

.titulo_card p {
    font-family: Cousine;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: var(--cor_6);
    padding-bottom: 12px;
}

.valor_card {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.valor_card span:first-child {
    padding-top: 2px;
    font-family: Cousine;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: var(--cor_6);
}

.valor_card span:last-child {
    font-family: Cousine;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--cor_3);
}

.alugar_card {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 12px;
    gap: 8px;
    flex: 1;
}

.btn_alugar {
    text-decoration: none;
    width: 258.328125px;
    height: 36;
    opacity: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 16px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    background-color: var(--cor_3);
    color: var(--cor_7);
}


.indisponivel {
    color: var(--cor_6);
    background-color: var(--cor_8);
}

.alugar_card:has(.indisponivel) {
    pointer-events: none;
    opacity: 0.7;
}

.icone_alugar {
    width: 41px;
    height: 33px;
    border: 1px solid #2563EB26;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.paginas {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 16px;
    margin-bottom: 96px;
    flex: 1;
}

.btn_paginas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.btn_numero,
.btn_voltar,
.btn_avancar {
    text-decoration: none;
    background-color: var(--cor_3);
    color: var(--cor_7);
    padding: 8px 0;
    width: 36px;
    height: 36px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
}

.ativado {
    background-color: var(--cor_2);
    border: 1px solid #2563EB26;
}

.desativado {
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
}